* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../BackgroundFitTrack.jpeg") no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: url(../nog.jpeg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
    z-index: 1;
}

.oep {
    height: 110px;
    width: auto;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
}

#container {
    width: 770px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#header {
    padding: 5px;
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: gray;
    color: white;
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: white;
}

#weekdays div {
    width: 100px;
    padding: 5px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: gray;
}

.day + #currentDay {
    background-color: white;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default;
    background-color: white;
    box-shadow: none;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

#workoutModal {
    display: none;
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.modal-content {
    color: gray;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.workout-detail {
    margin-bottom: 20px;

}

.workout-detail h3 {
    margin-bottom: 10px;
}

.workout-detail ul {
    list-style: none;
    padding-left: 0;
}

.workout-detail ul li {
    margin-bottom: 5px;
}
@media (max-width: 1500px) {
    #container {
        margin-top: 40px;
        width: 550px;
        height: 540px;
        border: 2px solid rgb(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    #calendar .day {
            width: 70px;
            padding: 7px;
            height: 70px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: white;
            margin: 3px;
            box-shadow: 0px 0px 3px lightgray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    #weekdays div {
        flex: 1;
        text-align: center;
        padding: 2px;
    }
}
