* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: url(../nog.jpeg) no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../BackgroundFitTrack.jpeg") no-repeat;
  background-size: cover;
}

.oep {
  height: 110px;
  width: auto;
}

.nav a {
  position: relative;
  font-size: 1.1em;
  color: white;
  font-weight: 500px;
  margin-left: 1200px;
}

.wrapper {
  position: relative;
  height: 440px;
  width: 500px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  padding: 40px;
}

.kleur {
  color: white;
}

.form h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: x;
}

.input {
  position: relative;
  height: 25px;
  width: 400px;
  border-bottom: 2px solid #e4ecf2;
  margin: 30px 0;
}

.input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #e4ecf2;
  font-weight: 500;
  pointer-events: none;
}

.input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #e4ecf2;
}

.button {
  height: 30px;
  width: 60px;
}

.remember {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  margin: -20px 0px 30px;
}

.register {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  margin: 70px 0px -40px;
}
