* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: url(../nog.jpeg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../BackgroundFitTrack.jpeg") no-repeat;
    background-size: cover;
}

.oep {
    height: 110px;
    width: auto;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 1200px;
}

.wrapper {
    position: absolute;
    left: 5px;
    height: 900px;
    width: 400px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapper-2 {
    position: absolute;
    left: 500px;
    height: 900px;
    width: 1700px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    position: absolute;
    top: 40px;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 90%;
}
.input-group input{
    width: 90%;
    height: 40px;
    background: transparent;
    border: 2px solid #e4ecf2;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff;

}

.input {
    flex: 1;
    margin: 0 10px;
}

.input input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #e4ecf2;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff;
}

.input-group h1 {
    flex: 0;
    margin-left: 10px;
}

.input-group input[type="text"] {
    width: calc(100% - 80px);
    margin-left: 10px;
}

.buttonAdd, .buttonCreate {
    background-color: #4D4D4D;
    border: 2px solid rgb(255, 255, 255, 0.5);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 0 10px;
    cursor: pointer;
}
#routineList li {
    color: white;
    font-size: larger;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;

}

#routineList li:hover {
    font-weight: 600;
}




