* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: url(../nog.jpeg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../BackgroundFitTrack.jpeg") no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.oep {
    height: 110px;
    width: auto;
}

.nav a {
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    padding: 20px;

}

#Name{
    color: white;
    margin-left: 50px;
    margin-top: 20px;;
}

.wrapper-2 {
    width: 100%;
    max-width: 1700px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.form {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
}

.input-group input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: 2px solid #e4ecf2;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff;
}
.input-group input::placeholder{
    color: lightgray;
}

.input-group h1 {
    flex: 0;
    margin-left: 10px;
}

.input-group input[type="text"] {
    width: calc(100% - 50px);
    margin-left: 10px;
}

.buttonAdd, .buttonCreate {
    background-color: #4D4D4D;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 0 10px;
    cursor: pointer;
}

.buttonAdd:hover, .buttonCreate:hover {
    background-color: #333333;
    border-color: white;
    color: #e0e0e0;
}

#routineList li {
    color: white;
    font-size: larger;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#routineList li:hover {
    font-weight: 600;
}

@media (max-width: 1439px) {
    .nav a {
        font-size: 1em;
        margin-left: 10px;
    }

    .wrapper {
        height: 600px;
        width: 200px;
    }

    .wrapper-2 {
        height: 600px;
        width: 1100px;
    }

    #routineList li {
        margin-left: 20px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 400px;
        height: 900px;
    }

    .wrapper-2 {
        width: 1700px;
        height: 900px;
    }
}
