* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: url(../nog.jpeg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../BackgroundFitTrack.jpeg") no-repeat;
    background-size: cover;
}

.oep {
    height: 110px;
    width: auto;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 1200px;
}

.chart{
    height: 500px;
    width: 500px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chart .chart_types{
    text-align: center;
    margin-bottom: 30px;

}

.chart .chart_types button{
    padding: 10px 25px;
}
