* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: url(../nog.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../BackgroundFitTrack.jpeg") no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.oep {
    height: 110px;
    width: auto;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
}

.nav #profile {
    height: 80px;
    width: auto;
    margin-left: 20px;
}

.wrapper {
    position: relative;
    bottom: 380px;
    width: 80%;
    max-width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
}

.picture {
    width: 100%;
    height: auto;
    max-height: 210px;
}

.text {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.menu-wrapper {
    position: absolute;
    right: 0;
    top: 100px;
    width: 80%;
    max-width: 320px;
    overflow: hidden;
    z-index: 10;
    max-height: 0;
    transition: max-height 0.5s;
}

.menu {
    background: #4D4D4D;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-wrapper.open {
    max-height: 300px;
}

.menuLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}

.menuLink p {
    width: 100%;
}

.menuLink span {
    font-size: 18px;
    transition: transform 0.5s;
}

.menuLink:hover span {
    transform: translateX(5px);
}

.menuLink:hover p {
    font-weight: 550;
}

@media (max-width: 100px) {
    header {
        padding: 10px 20px;
    }

    .nav a {
        font-size: 1em;
        margin-left: 10px;
    }

    .nav #profile {
        height: 60px;
        width: auto;
        margin-left: 10px;
    }

    .wrapper {
        width: 90%;
        bottom: 380px;
    }

    .menu-wrapper {
        width: 90%;
        max-width: 100%;
    }
}
